.card {
  margin: 0 auto;

  .header {
    height: 230px;

    .avatar {
      width: 160px;
      height: 130px;
      position: relative;
      margin: 0 auto;

      img {
        display: block;
        border-radius: 50%;
        position: absolute;
        width: 160px;
        height: 160px;
        bottom: calc(-1*(130px - 4px));
        border: 8px solid var(--ion-color-primary);
        background-color: #fff;
      }

      button {
        position: absolute;
        top: 105px;
        right: -5px;
        z-index: 5;
        background: #fff;
        padding: 5px;
        border-radius: 100%;
        border: 3px solid var(--ion-color-primary);
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

        ion-icon {
          color: var(--ion-color-primary);
          font-size: 24px;
        }
      }

      button:hover {
        background: var(--ion-color-light);
      }

      button:active {
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
        transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), background-color 15ms linear, color 15ms linear;
      }
    }
  }
}

.card-body {
  background-color: #ffffff;
  height: calc(100vh - 300px);
  overflow: hidden;
  padding-top: 50px;
}

ion-content {
  --background: url(../../../assets/profil_bg.jpg) no-repeat top center/cover fixed, #fff;
  position: relative;
  height: 100%;
  width: 100%;

  form {
    --background: #fff;
  }
}
