#buttonChangeComponentList {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#buttonChangeComponentList > ion-button {
  width: 100%;
}

#buttonChangeComponentList > ion-button > ion-icon {
  margin-right: 15px;
}
.center {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}
