<ion-header>
  <ion-toolbar >
    <ion-title>{{ this.listName }}</ion-title>
    <ion-button fill="outline" (click)="shareQRCode()">
      <ion-icon slot="icon-only" name="share"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="buttonChangeComponentList">
    <ion-button (click)="changeComponent()" [disabled]="this.listComponent" expand="full">
      <ion-icon name="list"></ion-icon>
      List
    </ion-button>
    <ion-button (click)="changeComponent()" [disabled]="!this.listComponent" expand="full">
      <ion-icon name="stats-chart"></ion-icon>
      Timeline
    </ion-button>
  </div>
  <app-list-details-list *ngIf="this.listComponent" [delete]="myDelete" [todos]="this.todos" [listId]="this.listId"></app-list-details-list>
  <app-list-details-graphic *ngIf="!this.listComponent" [delete]="myDelete" [todos]="this.todos" [listId]="this.listId"></app-list-details-graphic>
</ion-content>

<ion-footer>
  <ion-button (click)="openModal()" expand="block">Add a new todo</ion-button>
</ion-footer>
