<ion-header>
  <ion-toolbar>
    <ion-title>{{ this.list.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let todo of this.list.todos; let todoId = index;">
      <ion-item [routerLink]="['/todo-details', this.listId ,todoId]">
        <ion-label>{{ todo.name }}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option class="delete" (click)="delete(todoId)"><ion-icon name="trash"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-button id="trigger-button-todo" expand="block">Add a new todo</ion-button>
  <ion-modal trigger="trigger-button-todo">
    <ng-template>
      <app-create-todo></app-create-todo>
    </ng-template>
  </ion-modal>
</ion-content>
