<ion-header>
  <ion-toolbar>
    <ion-title>{{ this.listName }}</ion-title>
    <ion-button slot="end" fill="outline" (click)="shareQRCode()">
      <ion-icon slot="icon-only" name="share"></ion-icon>
    </ion-button>
    <ion-button slot="start" (click)="back()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div id="buttonChangeComponentList">
    <ion-button (click)="changeComponent()" [disabled]="this.listComponent" expand="full">
      <ion-icon name="list"></ion-icon>
      Tâches
    </ion-button>
    <ion-button (click)="changeComponent()" [disabled]="!this.listComponent" expand="full">
      <ion-icon name="calendar"></ion-icon>
      Planning
    </ion-button>
  </div>
  <app-list-details-list *ngIf="this.listComponent" [delete]="myDelete" [todos]="this.todos" [listId]="this.listId" [canWrite]="this.canWrite"></app-list-details-list>
  <app-list-details-graphic *ngIf="!this.listComponent" [delete]="myDelete" [todos]="this.todos" [listId]="this.listId"></app-list-details-graphic>
</ion-content>

<ion-footer *ngIf="this.canWrite">
  <ion-button (click)="openModal()" expand="block">Ajouter une tâche</ion-button>
</ion-footer>
