<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Partager le QRCode !
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        fermer <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="ionicForm" novalidate>
    <ion-item lines="full">
      <ion-label>Droit de lire</ion-label>
      <ion-checkbox formControlName="canRead" checked="true"></ion-checkbox>
    </ion-item>
    <ion-item lines="full">
      <ion-label>Droit d'écrire</ion-label>
      <ion-checkbox formControlName="canWrite"></ion-checkbox>
    </ion-item>
    <div id="qrcode-container">
      <qrcode id="qrcode" [scale]="8" [margin]="0" [qrdata]="this.TokenToShare"></qrcode>
    </div>
  </form>
</ion-content>



