<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Création de liste
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        close <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="ionicForm" (ngSubmit)="addList()" novalidate>
    <ion-item lines="full">
      <ion-label position="stacked">Nom</ion-label>
      <ion-input type="text" required formControlName="name"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="stacked">Read only (separate mail with ";")</ion-label>
      <ion-input type="text" formControlName="mail_r"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="stacked">Read write (separate mail with ";")</ion-label>
      <ion-input type="text" formControlName="mail_rw"></ion-input>
    </ion-item>
    <ion-button (keyup.enter)="addList()" type="submit" expand="block">Submit</ion-button>
  </form>
</ion-content>