<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="this.authenticationService.getUser() | async; else showLogin">
  </div>
  <ng-template #showLogin>
    <form [formGroup]="ionicForm" (ngSubmit)="login()" novalidate>
      <ion-item lines="full">
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="text" required formControlName="email"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Password</ion-label>
        <ion-input (keyup.enter)="this.login()" type="password" required formControlName="password"></ion-input>
      </ion-item>
      <a routerLink="/password-recovery">
        Did you forget your password ?
      </a>
      <ion-button expand="block" type="submit">Login</ion-button>
      <ion-text>
        or
      </ion-text>
      <ion-button expand="block" (click)="loginWGoogle()">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        Login with Google
      </ion-button>
      <ion-button expand="block" (click)="loginWFacebook()">
        <ion-icon slot="start" name="logo-facebook"></ion-icon>
        Login with Facebook
      </ion-button>
      <ion-text>
        or
      </ion-text>
      <ion-button expand="block" routerLink="/register">
        Register
      </ion-button>
    </form>
  </ng-template>
</ion-content>
