<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Lecteur QR-code </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  [style.--background]="scanActive?'transparent':'#ffffff'"
>
  <ion-button expand="full" (click)="startScanner()" [hidden]="scanActive">
    LIRE
  </ion-button>
  <ion-row class="scan-button" [hidden]="!scanActive">
    <ion-col class="ion-no-padding">
      <ion-button expand="full" (click)="stopScanner()">FERMER</ion-button>
    </ion-col>
  </ion-row>
  <div class="scan-box" [hidden]="!scanActive"></div>
</ion-content>
