<ion-header>
  <ion-toolbar>
    <ion-title>Password recovery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="this.code; else showRequest">
    <h1>Code : {{ this.code }}</h1>
  </div>
  <ng-template #showRequest>
    <form [formGroup]="ionicForm" (ngSubmit)="sendRequestResetPwd()" novalidate>
      <ion-item lines="full">
        <ion-label position="stacked">Email</ion-label>
        <ion-input (keyup.enter)="this.sendRequestResetPwd()" type="text" required formControlName="email"></ion-input>
      </ion-item>
      <ion-button expand="block" type="submit">Reset password</ion-button>
    </form>
  </ng-template>
</ion-content>
