<div id="buttonChangeComponentTypeCalendar">
  <ion-button disabled="{{this.isToday}}" (click)="today()">Aujourd'hui</ion-button>
  <ion-button color="secondary" disabled="{{this.isMonth}}" (click)="changeMode('month')">Mois</ion-button>
  <ion-button color="secondary" disabled="{{this.isWeek}}" (click)="changeMode('week')">Semaine</ion-button>
  <ion-button color="secondary" disabled="{{this.isDay}}" (click)="changeMode('day')">Jour</ion-button>
</div>
<calendar [eventSource]="eventSource"
          [calendarMode]="calendar.mode"
          [currentDate]="calendar.currentDate"
          (onCurrentDateChanged)="onCurrentDateChanged($event)"
          (onEventSelected)="onEventSelected($event)"
          [step]="calendar.step">
</calendar>
