<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Création d'une tâche
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        fermer <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="ionicForm" (ngSubmit)="addTodo()" novalidate>
    <ion-item lines="full">
      <ion-label position="stacked">Nom</ion-label>
      <ion-input type="text" required formControlName="name"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="stacked">Temps estimé (Xj ou Xh)</ion-label>
      <ion-input type="text" required formControlName="estimate" pattern="^[0-9]*(j|h)$"></ion-input>
      <div class="estimation_invalide" *ngIf="this.ionicForm.value.estimate != null && this.ionicForm.get('estimate').errors?.pattern">
        Format de l'estimation invalide
      </div>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="stacked">Description</ion-label>
      <ion-textarea type="text" formControlName="description"></ion-textarea>
    </ion-item>

    <ion-button (keyup.enter)="addTodo()" type="submit" expand="block">Envoyer</ion-button>
  </form>
</ion-content>

