<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Détail de la tâche
    </ion-title>
    <ion-button slot="start" (click)="back()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item>
      <ion-label position="stacked">Nom</ion-label>
      <ion-input value={{this.name}} formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Description</ion-label>
      <ion-input value={{this.description}} formControlName="description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Date de création</ion-label>
      <ion-input formControlName="create"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Date de début :</ion-label>
      <ion-input formControlName="start"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Estimation de temps :</ion-label>
      <ion-input value={{this.estimate}} formControlName="estimate"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Date de fin :</ion-label>
      <ion-input formControlName="end"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Fait</ion-label>
      <ion-checkbox checked="{{this.isDone}}" formControlName="isDone"></ion-checkbox>
    </ion-item>
    <ion-button *ngIf="!this.start && this.canWrite" (click)="startTodo()">Commencer la tâche</ion-button>
    <ion-button *ngIf="this.canWrite" type="submit" expand="block">Save</ion-button>
  </form>
  <ion-button *ngIf="this.start" [disabled]="this.isWeb" expand="block" color="secondary" (click)="addToCalendar()">
    <ion-icon name="calendar"></ion-icon>
    Ajouter à mon calendrier
  </ion-button>
</ion-content>
