<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Changer photo de profil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="this.closeModal()">
        fermer <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="!isImgUploading && !isImgUploaded">
    <ion-card-header>
      <ion-card-title>Choisissez un fichier</ion-card-title>
    </ion-card-header>

    <ion-button color="danger">
      <input type="file" class="upload" (change)="fileUpload($event.target.files)" />
    </ion-button>
  </ion-card>

  <ion-card *ngIf="isImgUploading && !isImgUploaded">
    <ion-card-header>
      <ion-card-title>Fichier choisi: <b>{{ FileName }}</b></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div *ngIf="progressNum | async as percentage">
        Avancement: {{ percentage | number }}%
        <ion-progress-bar value="{{ percentage / 100 }}"></ion-progress-bar>
      </div>
      <div *ngIf="progressSnapshot | async as pSnapshot">
        Taille de l'image: {{ pSnapshot.totalBytes | fileSize }} Transféré:
        {{ pSnapshot.bytesTransferred | fileSize }}
        <div *ngIf="progressSnapshot && pSnapshot.bytesTransferred != pSnapshot.totalBytes">
          <ion-button color="danger" fill="outline" size="small" (click)="ngFireUploadTask.cancel()">Annulé</ion-button>
          <ion-button color="secondary" fill="outline" size="small" (click)="ngFireUploadTask.pause()">Pause
          </ion-button>
          <ion-button color="dark" fill="outline" size="small" (click)="ngFireUploadTask.resume()" class="button">Repprendre
          </ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!isImgUploading && isImgUploaded">
    <ion-card-header>
      <ion-card-title>
        <b>{{ FileName }}</b> Mise en ligne
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div *ngIf="fileUploadedPath | async as fileUrl">
        <img [src]="fileUrl" />
      </div>
      Taille de l'image: {{ FileSize | fileSize }}
    </ion-card-content>
  </ion-card>
  <ion-button *ngIf="!isImgUploading && isImgUploaded" expand="block" (click)="this.closeModal()">Valider</ion-button>
  <ion-button color="warning" *ngIf="!isImgUploading && isImgUploaded" expand="block" (click)="changePicture()">Choisir une autre image</ion-button>
  <ion-button color="danger" *ngIf="!isImgUploading && isImgUploaded" expand="block" (click)="this.undo()">Annuler</ion-button>

</ion-content>